	body{
		background-image: url("Green_Grass.jpg");
		 background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
	    background-size: cover;
	}
	/*
	img {
    opacity: 1;
  
}

	img:hover {
    opacity: 0.7;

	}
*/	
	li{
		color:orange;
	
	}
	
	
	#website_name{
	  font-size:40px;
	  color: yellow;
	  text-shadow: 2px 2px #DE0303;
	}
	
	ul {
	 list-style: none;
	 margin: 0;
	 padding: 0;
	}
	li {
	display: inline-block;
	color:black;
	}

	table, th, td {
     border: 1px solid black;
	}
   #facttitle{
	 color:blue;
	 text-shadow: 2px 2px red;
   }
   #category_list{
     font-size:25px;
	 color:black;
	
   }
	
   #nav_bar{
     width:100%;
	 border-collapse:collapse;
	 font-size:20px;
	 text-align:center;
	 background-color:#B7C80F;
   }
 
  #tabs{
	border: 1px solid;
  }
 
  #container1 {
    border: 2px solid;
    border-radius: 25px;
	position : absolute;
	float : left;
	color : purple;
	height: 1200px;
	width: 20%;
    margin: 50px 0px 0px 10px;
  }
  
  #container2 {
  float: right;
   height: 600px;
   float: right;
   width: 75%;
   margin: 50px 30px 10px;
  }
  
  #fact_text{
  background-color: #ffffff;
  opacity: 0.5;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  width: 523px;
   text-shadow: 2px 2px orange;
  }